/*-----------------
	reservation
------------------*/
.reservation {
  padding: 60px 0 250px;

  .accordion-list {
    li {
      border: 1px solid $light;
      box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);

      &.open {
        .link {
          color: $darkgrey;

          &:after { 
            content: '';
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }

      .link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        position: relative;
        width: 100%;
        padding: $gap * 4 $gap * 5;
        color: #4D4D4D;
        font-size: 38px;
        font-weight: 700;
        border-bottom: 1px solid $light;

        &:after {
          content: '';
          width: 52px;
          height: 52px;
          background-image: url('../images/icons/arrow-up-black.svg');
          background-size: 52px;
          background-repeat: no-repeat;
          background-position: 98% center;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }

        .text {
          flex: 2;

          &.select_txt {
            color: $point;
          }
        }
      }

      .submenu {
        display: none;

        & > button {
          display: flex;
          align-items: center;
          text-align: left;
          width: 100%;
          text-decoration: none;
          color: $darkgrey;
          padding: $gap * 4 $gap * 5;
          font-size: 38px;
          border-bottom: 1px solid $light;

          &:hover {
            background: rgba(0, 171, 78, 0.5);
          }

          img {
            margin-right: 12px;
          }
        }
      }
    }
  }

  .calendar-box {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &.active {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    #selectDay {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      height: 106px;
      font-size: 32px;
      font-weight: bold;
      background: $light;
    }
    .ui-datepicker {
      margin: 0 auto;

      table {
        margin-top: 12px;
        font-size: 32px;

        th {
          padding: 6px 0 8px;
          font-weight: normal;
          border: 0;
          background: #eee;
          font-size: 32px;

          &:first-child {
            border-radius: 10px 0 0 10px;
          }

          &:last-child {
            border-radius: 0 10px 10px 0;
          }
        }

        td {
          padding: 44px 0 0;
        }
      }

      &.ui-widget-content {
        padding: 12px 0;
        border: none;
      }

      .ui-datepicker-title {
        font-size: 32px;
        font-weight: normal;

        .ui-datepicker-month {
          display: block;
          font-size: 32px;
          font-weight: bold;
        }
      }

      .ui-widget-header {
        padding: 10px 0;
        background: none;
        border: none;

        .ui-icon {
          background: url('../images/icons/arrow-left-black.svg') no-repeat center / 16px;
          width: 52px;
          height: 52px;
        }

        .ui-datepicker-next {
          .ui-icon {
            transform: scaleX(-1);
          }
        }
      }

      .ui-state-default,
      .ui-widget-content .ui-state-default,
      .ui-widget-header .ui-state-default {
        text-align: center;
        border: none;
        background: none;
      }

      .ui-state-default {
        text-align: center;
        height: 44px;
        line-height: 0.8;
        font-weight: bold;
      }

      .ui-datepicker-today {
        position: relative;

        &:before {
          content: '오늘';
          text-align: center;
          position: absolute;
          top: 20%;
          width: 100%;
          font-size: 16px;
        }
      }

      .ui-state-active {
        font-weight: 700;
        background: rgba(0, 171, 78, 0.2) !important;
        border-radius: 100px;
      }

      .ui-datepicker-week-end:last-child a {
        color: #D2232A;
      }
    }
  }

  &-clinic {
    .accordion-list {
      .item {
        &:before {
          content: '';
          background: url('../images/icons/hospital.svg') no-repeat center / 64px;
          width: 64px;
          height: 64px;
          margin-right: $gap * 2;
        }
      }
    }
  }
}