$point: #00AB4E;

$white: #fff;
$offWhite: #E5E5E5;
$light: #EEEEEE;
$lightGrey: #CED4DA; // border
$grey: #ddd;
$grey2: #AAAAAA;
$grey3: #6C757D;
$darkgrey: #414141;
$default: #212529;
$black: #000;

$lightBlueGrey1: #f7f7fc;
$lightBlueGrey2: #eff0f6;
$blueGrey1: #d6d8e7;
$blueGrey2: #a0a3bd;
$blueGrey3: #6e7191;
$blueGrey4: #4e4b66;
$darkBlueGrey: #14142a;

$primary: #0056a4;
$secondary: #e6168d;
$success: #14142a;
$info: #90ba1e;
$warning: #ef7d17;
$danger: #DC4D41;
$muted: #aaaaaa;

.text--point { color: $point }